.navbar {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
}

.navbar img {
    width: 30px;
    /* height: 20px; */
}


.menu {
    display: none;
    /* position: absolute; */
    position: fixed;
    /* overflow: hidden; */
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
 z-index: 1;
    background-color: rgb(0, 0, 0, 0.7);
}

.menuContainer {
    float: right;
    width: 70%;
    height: 100%;
    background-color: hsl(36, 100%, 99%);

    padding-top: 6rem;
    padding-left: 1rem;
}

.menu a {
    float: none;
    display: block;
    /* color: #f2f2f2; */
    color: hsl(240, 100%, 5%);
    text-align: left;
    padding: 0.7rem 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;

}

.menu .close {
    position: fixed;
    display: block;
    float: right;
    right: 1.5rem;
    top: 1.5rem;
}

.openMenu {
    display: block;
}

.menuDesktop {
    display: none
}

@media only screen and (min-width: 700px) {

    .hamburger,
    .close {
        display: none;
    }

    .menu {
        display: none;
    }

    .menuDesktop a {

        /* color: #f2f2f2; */
        color: hsl(240, 100%, 5%);
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;

    }.menuDesktop a:hover{
        color: hsl(5, 85%, 63%);
    }

    .menuDesktop {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

}